@import '../../../../../scss/styles.scss';

.file-field {
  position: relative;
  margin: base(1.5) 0 base(2);
  background: var(--theme-elevation-50);

  .tooltip.error-message {
    z-index: 3;
    bottom: calc(100% - #{base(.5)});
  }

  &__file-selected {
    flex-direction: column;
    .btn {
      @include formInput;
      position: relative;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: -1px;
      display: flex;
      padding: 0 base(0.5);
      align-items: center;
      display: flex;
      cursor: pointer;
      width: fit-content;

      &:hover {
        .btn__icon {
          background: none;

          .stroke {
            stroke: currentColor;
          }
        }
      }
    }
  }

  &__file-upload {
    display: flex;
    width: 100%;
  }

  &__filename {
    @include formInput;
    padding-top: base(.25);
    padding-bottom: base(.25);
    flex-wrap: nowrap;
  }
}
